<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Inventory report</h3></div>
            @{
                if (ViewData["UserRole"].ToString() == "Super")
                {
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.Action("MostSold", "Dashboard")
                            </div>
                            <div class="col-md-6">
                                @Html.Action("LowThreshold", "Dashboard")
                            </div>
                        </div>
                    </div>
                }
                else if (ViewData["UserRole"].ToString() == "User")
                {
                    <div class="panel-body">
                        @Html.Action("MostSoldUser", "Dashboard")
                    </div>
                }
            }
        </div>
    </div>
</div>