@model IEnumerable<InventoryApp.Models.ItemSoldViewModel>

@{
    Layout = "";
}
<h3>Most sold items</h3>
@{
    float max = Model.Max(i => i.QuantitySold);
    foreach (var item in Model)
    {
        <h4>@Html.DisplayFor(modelItem => item.Name)
        <small>(@Html.DisplayFor(modelItem => item.QuantitySold) items sold)</small></h4>
        <div class='progress'>
                <div class="progress-bar progress-bar-info" role="progressbar" style="width: @string.Format("{0}%", item.QuantitySold / max * 100)">
                </div>
        </div>
    }
}
