@model InventoryApp.Models.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <div class="col-md-3 each-item">
        <img src='@Url.Action("Image", "Items", new { id = Model.Id })' style="height: 100px; width: 100px;" /><br />
        <text class="item-detail" style="font-weight:bold">@Html.DisplayFor(model => model.Name)</text><br />
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
