
@import url('https://fonts.googleapis.com/css?family=Acme');

body {
}


.each-item {
    text-align: center;
    margin-bottom: 20px;
}

.item-detail{
    font-size: 15px;
}

.title{
    font-family: 'Acme'!important;
    font-size: 34px;
    color: white!important;
}